.dragNdrop{
    
    padding: 15px;
    margin: 15px;
    border-style: groove;
    border-width: 5px;
    border-radius: 5%;
    border-color: cadetblue ;
}


div p{
    display: inline-block;
   
}
.preview{
    text-align: center;
}
label {
    display: inline-flex;
    background-color: #7F9CCB;
    padding: 10px;
    border-radius: 5px;
    border: 1px ridge black;
    font-size: 0.8rem;
    height: auto;
    margin: 10px;
  }

label:hover {
    color: white;
    background-color: #1154be;
    padding: 10px;
    border-radius: 5px;
    border: 1px ridge black;
    font-size: 0.8rem;
    height: auto;
  }